html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  background-color: #000;
  color: #FFF;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  
}

.nav{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.link-number{
  display: flex;
  justify-content: right;
}

.nav-list{
  display: flex;
  gap: 0 40px;
}
