html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Anton', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

.container{
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  position: absolute;
  left: 0;
  right: 0;
}

.header,
.main{
  color: #FFF;
}

.nav{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.nav-list{
  display: flex;
  gap: 0 40px;
  font-size: 14px;
}

.nav-item{
  display: flex;
  align-items: center;
}

.nav-logo{
  margin-right: 30px;
}

.nav-item,
.promo__inner-text{
  letter-spacing: 0.1em;
}

.link-number{
  font-size: 16px;
}

.promo{
  background: linear-gradient(105.89deg, rgba(0, 0, 0, 0.37) 5.05%, rgba(0, 0, 0, 0.15) 112.97%);
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner{
  min-height: 100vh;
  text-transform: uppercase;
  font-weight: 400;
}

.promo__inner-text{
  font-size: 30px;
  font-weight: inherit;
}

.promo__inner-title{
  font-size: 100px;
 font-weight: inherit;
}
/*
font-family: 'Open Sans', sans-serif;
*/