html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  background-color: #000;
  color: #FFF;
  font-family: 'Anton', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

.container{
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  
}

.nav{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
   margin-top: 40px;
}

.nav-list{
  display: flex;
  gap: 0 40px;
  font-size: 14px;
}

.nav-item{
  display: flex;
  align-items: center;
}

.nav-logo{
  margin-right: 30px;
}

.link-number{
  font-size: 16px;
}

/*

font-family: 'Open Sans', sans-serif;
*/